
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}

.dashboard-my-learning {
  position: relative;
  background-color: #0e1620;
  width: 100%;
  height: 1365px;
  overflow: hidden;
  text-align: left;
  font-size: var(20px);
  color: var(#d0cece);
  font-family: var(Poppins);
}
.course-card {
  position: relative;
  top: 274px;
  left: 372px;
  width: 1200px;
  height: 462px;
  margin: 50px;
  border-radius: 30px;
  background-color: #3D4E64;
  color: #fff; 
}

.course-title {
  font-family: KoHo;
  font-size: 40px;
  font-weight: bold;
  height: 50px;
  text-align: left;
  position: absolute;
  height: 15.25%;
  width: 85%;
  top: 25.36%;
  left: 75px;
  line-height: 40px;
  display: inline-block;
  font-family: var(--font-koho);
}

.course-button{
    position: absolute;
    height: 12.99%;
    width: 20%; /* Đổi giá trị này để giảm độ rộng */
    top: 76.19%;
    right: 63.3%;
    bottom: 10.82%;
    left: 6.68%;
    border-radius: var(--br-28xl);
    background-color: var(--color-mediumseagreen-100);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-3xl);
    color: var(--color-white);
  }

  .course-lessons{
    position: absolute;
    height: 3.39%;
    width: 20.77%;
    top: 12.22%;
    left: 15%;
    line-height: 18px;
    font-weight: 500;
    display: inline-block;
  }

  .course-category {
    position: absolute;
    height: 3.25%;
    width: 100px;
    top: 11.69%;
    left: 71.12%;
    line-height: 18px;
    font-weight: 500;
    color: var(--color-white);
    display: inline-block;
    left:1000px;
  }


  .course-skills{
    position: absolute;
    top: 225px;
    left: 75px;
    font-size: var(--font-size-lg);
    color: var(--color-lightsteelblue);
    display: inline-block;
    width: 1000px;
    font-family: var(--font-poppins);
  }

  .course-progress {
    height: 40px;
    width: 1200px;
    transition: width 0.3s;
    

  }
  
  .course-progress-bar {
    background-color: #F8BD00;
    height: 40px;
    border-radius: 20px;
  }

  .course-source{
    position: absolute;
    top: 347px;
    left: 1000px;
    border-radius: var(--br-21xl);
    width: 69px;
    height: 69px;
    object-fit: cover;
  }