.auth .confirmpasswd  {
    margin-top: 9%;
    align-items: center;
    border-color: #0e0d0d;
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 400px;
}

.confirmpasswd .form-control {
    background-color: transparent;
    color: #ffffff;
}
.confirmpasswd ::placeholder {
    color: #ffffff
}