.resetoverlap {
    height: 206px;
    left: 60px;
    position: absolute;
    top: 380px;
    width: 900px;
}

.auth .resetellipse {
    background: linear-gradient(180deg, #A92F4B 0%, rgb(13.17, 10.16, 47.81) 100%);
    border-radius: 151px;
    height: 302px;
    left: 749px;
    position: absolute;
    top: 81px;
    width: 302px;
}

.auth .resetellipse-2 {
    background: linear-gradient(180deg, #A92F4B 0%, rgb(10.16, 16.18, 47.81) 100%);
    border-radius: 110px;
    height: 220px;
    left: 39px;
    position: absolute;
    top: 696px;
    transform: rotate(-28.5deg);
    width: 220px;
}

.auth .resetdiv-wrapper {
    align-items: center !important;
    background: linear-gradient(180deg, rgb(232.69, 71.75, 197.28) 0%, rgb(169, 47, 75) 53.12%,rgb(116.88, 3.9, 44.57) 100%);
    border-radius: 12px;
    display: flex;
    position: relative;
    width: 400px;
    height: 40px;
}

.auth .resetdon-t-have-an {
    color: #ffffff;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    margin-top: 110%;
}

.auth .resetcustomer-care {
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    width: 400px;
    text-align: center;
    left: 8%;
    margin-top: 2%;
}