/* CardItem.css */
.careers .careers-card {
  position: absolute;
  top: 60px;
  height: 400px;
  width: 500px;
  padding: 20px;
  background-color: var(--color-darkslategray-200);
  color: var(--color-white);
  border-radius: var(--br-28xl);
  border: 1px solid var(--color-lavender-300);
}

.careers-card-header {
  padding-top: 20px;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  font-weight: 350;
  align-items: center;
}

.card-type {
  border-radius: var(--br-xl);
  background-color: transparent;
  color: var(--color-white);
  width: 150px;
  height: 34px;
  border-radius: var(--br-28xl);
  border: 1px solid var(--color-lavender-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.careers-card-center p {
  font-size: var(--font-size-11xl);
  font-family: var(--font-koho);
  font-weight: bold;
  line-height: 30px;
}

.careers-card-center span {
  font-size: var(--font-size-lg);
  font-family: var(--font-poppins);
  font-weight: 350;
  line-height: 30px;
}

.careers-card-footer {
  padding-bottom: 10px;
}

.careers-card-footer hr {
  width: 80%;
  margin-top: 0;
  margin-left: 1rem;
}

.button-buy{
  position: absolute;
  width: 150px;
  height: 60px;
  border-radius: var(--br-28xl);
  background-color: var(--color-mediumseagreen-100);
  box-shadow: var(--shadow-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-9xl);
  box-sizing: border-box;
  font-size: var(--font-size-3xl);
  font-family: var(--font-inter);
  font-weight: bold;
  color: var(--color-white);
}
