 .search-bar {
    color: #D0CECE;
    font-family: 'KoHo', sans-serif;
    border-radius: 50px;
    height: 50px;
    left: 185px;
    position: absolute;
    top: 0px;
    width: 438px;
  }
  
  .search-bar input{
    height: 50px;
    left: 185px;
    position: absolute;
    top: 30px;
    background-color: #0D0D0D;
    width: 866px;
    border-radius: 50px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
    font-size: 20px;
    font-weight: bold;
  }
  
  .box {
    background-color: transparent;
    border-radius: 10px;
    height: 54px;
    left: 0;
    position: fixed;
    top: 0;
    width: 1920px;
    z-index: 100;
  }
  
  .box .header {
    background-color: transparent;
    position: fixed;
    height: 54px;
    left: 0;
    top: -10px;
  }
  
  .box .group {
    height: 33px;
    left: 18px;
    position: relative;
    top: 9px;
    width: 333px;
  }


  .box .user {
    height: 50px;
    left: 1550px;
    position: absolute;
    top: 30px;
    width: 340px;
  }

  .image-girl{
    position: absolute;
    top: 7px;
    left: 440px;
    width: 38px;
    height: 38px;
    object-fit: cover;
  }

  .box .div {
    height: 40px;
    left: 13px;
    position: absolute;
    top: 5px;
    width: 129px;
  }
  
  .box .overlap-group {
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 47px;
  }

  .box .text-wrapper {
    color: #d0cece;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 60px;
    letter-spacing: -0.45px;
    line-height: normal;
    position: absolute;
    top: 10px;
  }
  
  .box .notification {
    height: 40px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 32px;
  }
  
  .box .overlap {
    height: 40px;
    position: relative;
  }
  
  .box .img {
    height: 37px;
    left: 0;
    position: absolute;
    top: 0px;
    width: 32px;
  }

   .box .profile {
    background-color: #141414;
    border-radius: 10px;
    height: 55px;
    width: 180px;
    left: 75px;
    position: absolute;
    top: 0px;
  }

  .allura-avatar {
    height: 40px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 47px;
  }
  
  .allura-avatar-2 {
    background-color: #1984ff;
    border-radius: 9.59px;
    height: 40px;
    left: 3px;
    position: absolute;
    top: 4px;
    width: 42px;
  }

  #dropdown-basic {
    background-color: #141414;
    position: fixed;
    top: 30px;
    right: 100px;
    border-color: #141414;
  }
 
  
   