@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-open-sans: "Open Sans";
  --font-koho: KoHo;
  --font-inter: Inter;
  --font-inherit: inherit;
  --font-sf-pro-display: "SF Pro Display";

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-31xl: 50px;
  --font-size-xl: 20px;
  --font-size-11xl: 30px;
  --font-size-base: 16px;
  --font-size-sm: 14px;

  /* Colors */
  --color-gray-100: rgba(0, 0, 0, 0.3);
  --color-lightgray: #d0cece;
  --color-mediumseagreen: #21b573;
  --color-darkslategray: #21354b;
  --color-white: #fff;

  /* Paddings */
  --padding-7xs-5: 5.5px;
  --padding-lgi-9: 19.9px;
  --padding-lg: 18px;

  /* Border radiuses */
  --br-3xs-6: 9.6px;
  --br-11xl: 30px;
  --br-41xl-9: 60.9px;
  --br-36xl: 55px;

  /* Effects */
  --shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

/* MyVideoList.css */
.video-list {
    display: flex;
    overflow-x: auto;
    padding: 16px;
  }
  
  .video-item {
    margin-right: 16px;
    text-align: center;
  }
  
  .video-item h3 {
    margin: 0;
  }
  
  .video-item img {
    width: 200px;
    height: 120px;
    object-fit: cover;
  }
  

.toggle-icon {
    position: absolute;
    top: 53px;
    left: 1122.67px;
    width: 169.33px;
    height: 54.7px;
    display: none;
  }
  .resources,
  .resources2 {
    position: absolute;
    width: 15.99%;
    top: calc(50% - 510.5px);
    left: 20.31%;
    line-height: 28px;
    font-weight: 500;
    display: inline-block;
  }
  .resources2 {
    width: 37.71%;
    top: calc(50% - 421.5px);
    font-size: var(--font-size-11xl);
  }
  .course-details {
    font-size: 28px;
    top: 50px;
  }
  .what-is-software {
    margin-bottom: 0;
    font-size: 28px;
  }
  .what-is-software-security-ana {
    margin: 0;
    padding-left: 40px;
  }
  .course-details-software-container {
    position: absolute;
    top: 633px;
    left: 377px;
    font-size: var(--font-inherit);
    line-height: 28px;
    font-weight: 500;
    font-family: var(--font-inherit);
    display: inline-block;
    width: 1049px;
  }
  .mask-group-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .jacob-jones {
    position: relative;
    line-height: 22.15px;
    font-weight: 500;
  }
  .text-paticipant-names,
  .text-paticipant-names1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .text-paticipant-names1 {
    border-radius: 60.91px;
    background-color: var(--color-gray-100);
    backdrop-filter: blur(5.54px);
    padding: 5.537618637084961px 19.935426712036133px;
  }
  .text-paticipant-names {
    position: absolute;
    top: calc(50% + 44.35px);
    left: calc(50% - 127.37px);
  }
  .mask-group-parent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .card-video-small {
    position: absolute;
    top: 0;
    left: 0;
    width: 296.81px;
    height: 181.29px;
  }
  .text-paticipant-names2 {
    position: absolute;
    top: calc(50% + 44.85px);
    left: calc(50% - 106.1px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .card-video-small1 {
    position: absolute;
    top: 0;
    left: 633.02px;
    width: 296.81px;
    height: 181.29px;
  }
  .text-paticipant-names4 {
    position: absolute;
    top: calc(50% + 43.35px);
    left: calc(50% - 103.93px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .list-part-bottom-inner {
    position: absolute;
    top: 0;
    left: 949.52px;
    width: 296.81px;
    height: 181.29px;
  }
  .text-paticipant-names6 {
    position: absolute;
    top: calc(50% + 44.85px);
    left: calc(50% - 120.96px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .card-video-small3,
  .list-part-bottom {
    position: absolute;
    top: 0;
    left: 316.51px;
    width: 296.81px;
    height: 181.29px;
  }
  .list-part-bottom {
    top: 387px;
    left: 460px;
    width: 1246.33px;
    font-size: var(--font-size-base);
    font-family: var(--font-inter);
  }
  .overview-of-course-child {
    position: absolute;
    top: 949px;
    left: 1153px;
    width: 100px;
    height: 100px;
    overflow: hidden;
  }
  .arrow-left-icon-1-3,
  .arrow-left-icon-1-4 {
    position: absolute;
    top: 433px;
    left: 1763px;
    width: 80px;
    height: 80px;
    overflow: hidden;
  }
  .arrow-left-icon-1-4 {
    top: 432px;
    left: 342px;
  }
  .text {
    position: relative;
    line-height: 28px;
  }
   .button-base {
    all: unset;
    align-items: center;
    background-color: #21b573;
    border-radius: 47px;
    box-shadow: 0px 1px 2px #1018280d;
    box-sizing: border-box;
    display: flex;
    gap: 8px;
    height: 60px;
    justify-content: center;
    left: 1500px;
    overflow: hidden;
    padding: 16px 28px;
    position: absolute;
    top: 180px;
    width: 153px;
  } 

  .text-2{
    font-size: 28px;
    font-family: Inner;
    font-weight: bold;
  }
 
  .overview-of-course {
    position: relative;
    background-color: #0e1620;
    width: 100%;
    height: 1600px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-31xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
    margin-top: 0px;
  }

  .course-details{
    font-size: 50px;
    line-height: 1.3; /* Điều chỉnh giá trị này để thay đổi khoảng cách giữa các dòng */
    margin-bottom: 3px;
  }

  .course-details-1{
    font-size: 30px;
    line-height: 1.3; /* Điều chỉnh giá trị này để thay đổi khoảng cách giữa các dòng */
    margin-bottom: 15px;
  }

  .what-is-software{
    line-height: 1.3; /* Điều chỉnh giá trị này để thay đổi khoảng cách giữa các dòng */
    margin-bottom: 3px;
  }
  
  

