@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-proxima-nova: "Proxima Nova";
  --font-open-sans: "Open Sans";
  --font-koho: KoHo;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-mini: 15px;

  /* Colors */
  --color-white: #fff;
  --color-royalblue: #0069ff;
  --color-indianred: #c84545;
  --color-lightgray: #d0cece;
  --color-darkgray: #b2b2b2;
  --color-mediumseagreen: #21b573;
  --color-darkslategray: #21354b;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-33xl-9: 52.9px;

  /* Paddings */
  --padding-2xs: 11px;
  --padding-xs: 12px;
  --padding-mid: 17px;
  --padding-smi: 13px;
  --padding-7xs: 6px;

  /* Border radiuses */
  --br-21xl: 40px;
  --br-5xs: 8px;
  --br-3xs-6: 9.6px;
  --br-11xl: 30px;
}

.dashboard-profile-settings1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  font-family: 'Poppins', sans-serif; 
  background-color: #0E1620;
}
.dashboard-profile-settings-child1 {
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
}

.title1 {
  margin-top: 0%;
  font-size: 60px;
  margin-left: -40%;
}

.text1 {
  margin-left: 36%;
  color: #fff;
  font-weight: 700;
}

.youtube1 {
  margin-top: 5%;
  margin-left: 10%;
}


* {
  font-family: "Segoe UI";
}

#comments {
  margin-top: 3%;
  margin-left: 8%;
}

.comment-temp {
  display:flex;
  padding:8px 16px;
}
.comment-temp .photo img {
  border-radius:50%;
}
.comment-temp .name {
  flex:1;
  padding-left:12px
}
.comment-temp h5 {
  font-weight:500;
  margin:0;
  font-size:16px;
  color:#fff
}
.comment-temp p {
  margin:4px 0 0 0;
  font-size:14px;
  color: #fff;
}

.like-count {
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-top: 2%;
}

.like-count .image {
  margin-right: 8px;
  width: 30px;
  height: 40px;
}

.like-count .like {
  margin-top: 15px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

