.signupoverlap {
    height: 206px;
    left: 60px;
    position: absolute;
    top: 380px;
    width: 700px;
}

.signuptext-wrapper {
    color: #ffffff;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 96px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.auth .name  {
    top: 20px;
    align-items: center;
    border-color: #0e0d0d;
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 400px;
}

.name .form-control {
    background-color: transparent;
    color: #ffffff;
}
.name ::placeholder {
    color: #ffffff
}

.auth .passwdres  {
    margin-top: 4%;
    align-items: center;
    border-color: #0e0d0d;
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 400px;
}

.passwdres .form-control {
    background-color: transparent;
    color: #ffffff;
}
.passwdres ::placeholder {
    color: #ffffff
}

.auth .emailres  {
    margin-top: 9%;
    align-items: center;
    border-color: #0e0d0d;
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 400px;
}

.emailres .form-control {
    background-color: transparent;
    color: #ffffff;
}
.emailres ::placeholder {
    color: #ffffff
}

.auth .repasswdres  {
    margin-top: 4%;
    align-items: center;
    border-color: #0e0d0d;
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 400px;
}

.repasswdres .form-control {
    background-color: transparent;
    color: #ffffff;
}
.repasswdres ::placeholder {
    color: #ffffff
}

.auth .resellipse {
    background: linear-gradient(180deg, #FAB437 0%, rgb(13.17, 10.16, 47.81) 100%);
    border-radius: 151px;
    height: 302px;
    left: 749px;
    position: absolute;
    top: 81px;
    width: 302px;
}

.auth .resellipse-2 {
    background: linear-gradient(180deg, #FAB437 0%, rgb(10.16, 16.18, 47.81) 100%);
    border-radius: 110px;
    height: 220px;
    left: 39px;
    position: absolute;
    top: 696px;
    transform: rotate(-28.5deg);
    width: 220px;
}

.auth .resdiv-wrapper {
    align-items: center !important;
    background: linear-gradient(180deg, rgb(250, 180, 55) 0%, rgb(10.16, 16.18, 47.81) 100%);
    border-radius: 12px;
    display: flex;
    position: relative;
    width: 400px;
    height: 40px;
}

.auth .resdon-t-have-an {
    color: #ffffff;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 190px;
}

.auth .rescustomer-care {
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    width: 400px;
    text-align: center;
    left: 8%;
    margin-top: 41%;
}